<%= link_to "Add New Book to the Shelf", new_book_path %>

<% if @books %>
<ul>
  <% @books.each do |book| %>
    <!-- <h2><%= book.title %></h2>
    <p>
      $<%= book.price %>, we have <%= book.quantity %>
    </p> -->
    <h2><%= link_to book.title, book_path(book) %></h2>
    <li>
      $<%= book.price %> - <%= book.quantity %> copies
    </li>
  <% end %>

</ul>
<% else %>
  <h3>We are sorry, there are no books. Please login and add some!</h3>
<% end %>
